<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="page-header">
      <% if @source.starred_by? current_user %>
        <%= link_to raw("#{glyphicon :star}"), project_star_url(@project, @source.star_by(current_user)), method: :delete, class: 'btn btn-success pull-right btn-lg' %>
      <% else %>
        <%= form_for [@project, Star.new], class: 'form-inline' do |f| %>
          <%= f.hidden_field :source_id, value: @source.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= content_tag :button, raw("#{glyphicon 'star-empty'}"), class: 'btn btn-default pull-right btn-lg' %>
        <% end %>
      <% end %>

      <h3><%= @source.title %></h3>
      <small>
        Source <%= @source.id %>, added by <%= "#{@source.user.full_name} #{time_ago_in_words(@source.created_at)}" %> ago,
        tagged with
      </small>
      <% @source.tags.each do |tag| %>
        <%= tag_tag tag, type: :info %>
      <% end %>
    </div>
  </div>
  <div class="panel-body">

    <%= link_to raw("Edit #{glyphicon :pencil}"), edit_project_source_path(@project, @source), class: 'btn btn-primary' %>

    <% if @source.document.attached? %>
      <%= link_to raw("Download PDF #{glyphicon 'download-alt'}"),
            url_for(format: :pdf, download: true),
            class: 'btn btn-info' %>
    <% end %>

    <% if @source.document.attached? %>
      <%= link_to raw("View PDF #{glyphicon 'new-window'}"),
            url_for(format: :pdf),
            class: 'btn btn-info',
            target: '_blank' %>
    <% end %>

    <% if @source.url.present? %>
      <%= link_to raw("Original Webpage #{glyphicon 'new-window'}"),
            @source.url,
            target: '_blank',
            class: 'btn btn-info' %>
    <% end %>

    <%= content_tag :button, raw("Export Source #{glyphicon :export}"),
          class: 'btn btn-default',
          data: { toggle: 'modal', target: '#exportModal' } %>

    <%= link_to raw("Delete Source #{glyphicon :trash}"), project_source_path(@project, @source),
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: 'btn btn-danger' %>

  </div>
</div>
