<div class="modal fade" tabindex="-1" role="dialog" id="reviewModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= bootstrap_form_for [@project, @review] do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Advanced Review Editor</h4>
      </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <%= f.hidden_field :source_id, value: @source.id %>
              <%= f.text_area :comment, rows: 16,
                    id: 'review-input',
                    data: {
                      url: project_review_previews_path(@project)
                      }%>
              <%= f.number_field :rating, min: 1, max: 10 %>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="panel panel-default" id="review-preview-panel">
                <div class="panel-heading">Markdown Preview</div>
                <div class="panel-body" >

                  <div id="review-preview">
                    <%= raw @review.comment_html %>
                  </div>

                  <div class="spinner-container">
                    <div class="spinner">
                      <div class="rect1"></div>
                      <div class="rect2"></div>
                      <div class="rect3"></div>
                      <div class="rect4"></div>
                      <div class="rect5"></div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <% unless @review.new_record? %>
            <%= link_to raw("Delete Review #{glyphicon :trash}"), project_review_path(@project, @review),
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'btn btn-danger' %>
          <% end %>
          <%= f.submit (@review.new_record? ? 'Save Review' : 'Update Review' ), class: 'btn btn-primary' %>
        </div>
        <% end %>
    </div>
  </div>
</div>
