<%= bootstrap_form_for([@project, @source]) do |f| %>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="row">
        <div class="col-md-12">
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :subtitle %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :shorttitle %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :authors %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :editors %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= f.number_field :year %>
        </div>
        <div class="col-md-2">
          <%= f.number_field :month %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :publisher %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :institution %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.text_field :organization %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :school %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :address %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= f.text_field :edition %>
        </div>
        <div class="col-md-2">
          <%= f.text_field :series %>
        </div>
        <div class="col-md-2">
          <%= f.number_field :chapter %>
        </div>
        <div class="col-md-2">
          <%= f.text_field :pages %>
        </div>
        <div class="col-md-2">
          <%= f.number_field :number %>
        </div>
        <div class="col-md-2">
          <%= f.number_field :volume %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= f.text_field :journal %>
        </div>
      </div>
      <div class="row mtx">
        <div class="col-md-12">
          <%= f.submit 'Save Source',
              class: 'btn btn-primary' %>
          <%= link_to 'Cancel', ((@source.new_record?) ? project_sources_path(@project) : project_source_path(@project, @source)),
              class: 'btn btn-default'%>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="row">
        <div class="col-md-4">
          <%= f.select :bibtex_type, Source.bibtex_types.keys.map { |bt| [I18n.t("activerecord.attributes.source.bibtex_types.#{bt}"), bt] }  %>
        </div>
        <div class="col-md-4">
          <%= f.number_field :isbn %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :doi %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= f.text_field :url %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <%= f.text_area :abstract %>
        </div>
        <div class="col-md-4">
          <%= f.text_area :keywords %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.text_field :search_database %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :search_query %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.text_area :note %>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <label class="label-control" for="source_tags"><%= Source.human_attribute_name(:tags) %></label>
            <%= text_field_tag 'source[tag_ids]', '', class: 'selectize', id: 'source_tag_ids',
                  data: {
                    options: @tags.map { |t| { text: t.name, value: t.id } }.to_json,
                    items: "[#{@source.tag_ids.join(',')}]"
                    } %>
          </div>
          <%= f.file_field :document %>
        </div>
      </div>

      <%= f.text_area :bibtex_text, rows: 6, label: 'Assign values from BibTeX',
            placeholder: <<-BIBTEX
@book{programming_ruby,
author = {Thomas, Dave and Fowler, Chad and Hunt, Andy},
publisher = {The Pragmatic Bookshelf},
title = {Programming Ruby 1.9: The Pragmatic Programmer's Guide},
year = {2009}
}
BIBTEX
      %>
    </div>
  </div>
<% end %>
