<%= bootstrap_form_for(@source) do |f| %>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= f.text_field :title %>
      <%= f.text_field :subtitle %>
      <%= f.text_field :shorttitle %>
      <%= f.text_field :authors %>
      <%= f.text_field :editors %>
      <%= f.number_field :year %>
      <%= f.number_field :month %>
      <%= f.text_field :publisher %>
      <%= f.text_field :institution %>
      <%= f.text_field :organization %>
      <%= f.text_field :school %>
      <%= f.text_field :address %>
      <%= f.text_field :edition %>
      <%= f.text_field :series %>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= f.number_field :chapter %>
      <%= f.text_field :pages %>
      <%= f.text_field :journal %>
      <%= f.number_field :number %>
      <%= f.number_field :volume %>
      <%= f.number_field :isbn %>
      <%= f.number_field :doi %>
      <%= f.select :bibtex_type, Source.bibtex_types.keys.map { |bt| [I18n.t("activerecord.attributes.source.bibtex_types.#{bt}"), bt] }  %>
      <%= f.text_field :keywords %>
      <%= f.text_area :abstract %>
      <%= f.text_field :search_database %>
      <%= f.text_field :search_query %>
      <%= f.text_field :url %>
      <%= f.text_area :note %>
      <%= f.file_field :document %>
    </div>
  </div>

  <%= f.submit 'Save Source',
        class: 'btn btn-primary' %>
  <%= link_to 'Cancel', ((@source.new_record?) ? sources_path : source_path(@source)),
        class: 'btn btn-default'%>
<% end %>
