
<div class="row">
  <div class="col-xs-12 col-lg-4">
    <%= link_to raw("Add #{Source.model_name.human} #{glyphicon :plus}"), new_source_path, class: 'btn btn-default' %>

    <%= content_tag :button, raw("Import Sources #{glyphicon :import}"),
          class: 'btn btn-default',
          data: { toggle: 'modal', target: '#importModal' } %>

    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Export
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= link_to 'View PDF', export_path(:pdf, @search_params), target: '_blank' %>
        </li>
        <li>
          <%= link_to 'Download PDF', export_path(:pdf, @search_params.merge(download: true)) %>
        </li>
        <li>
          <%= link_to 'Download BibTeX', export_path(:bib, @search_params) %>
        </li>
      </ul>
    </div>

  </div>

  <div class="col-xs-12 col-lg-4">
    <div class="btn-group" role="group" aria-label="sort">
      <% [:time, :stars, :rating].each do |sort| %>
        <%= link_to t(sort, scope: 'search_options.sort'),
              sources_path(@search_params.merge(s: sort)),
              class: "btn btn-#{@search_params[:s].try(:to_sym) == sort ? 'primary' : 'default'}"
              %>
        <% end %>
      </div>

    <div class="btn-group" role="group" aria-label="sort">
      <% [:none, :my_stars, :my_reviews, :unrated].each do |filt| %>
        <%= link_to t(filt, scope: 'search_options.filter'),
              sources_path(@search_params.merge(f: filt)),
              class: "btn btn-#{@search_params[:f].try(:to_sym) == filt ? 'primary' : 'default'}"
              %>
        <% end %>
      </div>

    <div class="btn-group" role="group" aria-label="sort">
      <% [:table, :list].each do |view| %>
        <%= link_to t(view, scope: 'search_options.view'),
              sources_path(@search_params.merge(v: view)),
              class: "btn btn-#{@search_params[:v].try(:to_sym) == view ? 'primary' : 'default'}"
              %>
        <% end %>
      </div>
  </div>

  <div class="col-xs-12 col-lg-4">
    <form action="<%= sources_url %>" method="get">
      <div class="input-group">
      </div>
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search for..." value="<%= h(params[:q]) %>">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><%= glyphicon :search %></button>
        </span>
      </div>
    </form>
  </div>
</div><!-- /.row -->

<%= render partial: "sources/index/#{@search_params[:v]}" %>

<%= render partial: 'sources/index/import_form' %>
