<div class="row">
  <div class="col-xs-12 col-md-6">

    <%= render 'sources/show/header_section' %>

    <%= render 'sources/show/details_section' %>

  </div>
  <div class="col-xs-12 col-md-6">

    <%= render 'sources/show/document_section' %>

    <%= render 'sources/show/review_section' %>

  </div>
</div>

<%= render 'sources/show/export_modal' %>
