<table class="table floatingheader">
  <thead>
    <tr>
      <th>Source <span class="badge"><%= @sources.length %></span></th>
      <th><%= Source.human_attribute_name :bibtex_type %></th>
      <th><%= Source.human_attribute_name :user %></th>
      <th><%= Source.human_attribute_name :stars %></th>
    </tr>
  </thead>
  <tbody>
    <% @sources.each do |s| %>
      <tr>
        <td>
          <%= content_tag :p, link_to(s.title, source_path(s)), class: 'lead' %>
          <em><%= s.authors %> | <%= s.year %></em>
        </td>
        <td><%= s.translated_bibtex_type %></td>
        <td><%= s.user.full_name %>,<br /><small><em><%= time_ago_in_words(s.created_at) %> ago</em></small></td>
        <td><%= s.stars_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
