<div class="centered">
  <div class="centered__content">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @projects.blank? %>
          <h1>Welcome <small>to your first project</small></h1>
        <% else %>
          <h1>New Project <small>to start working on</small></h1>
        <% end %>
        <hr>
        <%= bootstrap_form_with model: @new_project do |f| %>
          <%= f.text_field :name, placeholder: 'My Terrifying Thesis' %>
          <div class="text-right">
            <% if @projects.present? %>
              <%= link_to projects_path, class: 'btn btn-default' do %>
                <%= glyphicon 'chevron-left' %>
                Cancel
              <% end %>
            <% end %>
            <%= button_tag type: :submit, class: 'btn btn-primary' do %>
              Add project
              <%= glyphicon 'ok' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
