<div class="login">
  <div class="loginheader">
    <h2>LOG IN</h2>
  </div>
  <%= bootstrap_form_with url: user_session_path do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, icon: "envelope", hide_label: true, placeholder: "Email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", icon: "lock", hide_label: true, placeholder: "Password" %>
      <%= link_to 'Forgot password?', new_password_path('user'), class: "forgotten" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.primary "Log in" %>
    </div>
  <% end %>
</div>


<div class="login mtm">
  <p>New to this tool? Sign up for a free account and start tracking your academic sources right away!</p>
  <%= link_to 'Sign me up!', new_user_registration_path %>
</div>
