<!doctype html>
<html id="export-pdf">
  <head>
    <meta charset='utf-8' />
    <style type="text/css">
      body { font-family: "Times New Roman", Times, serif; }

      h1 { font-size: 28px; }
      h3 { font-size: 20px; margin-bottom: 10px; }
      table td h3 { margin: 0; }
      big { font-size: 20px; }
      p { font-size: 13px; }
      small { font-size: 12px; }
      #header { margin-bottom: 42px; }
      .source { margin: 20px 0; }
      .source strong { font-size: 12px; }
      .source small { font-size: 12px; }
      .source p { font-size: 12px; }
      .source .description strong { font-size: 12px; }
      .source .description small { font-size: 10px; }
      .source .description blockquote { font-size: 14px; }
      .source .description {
        background-color: #f0f0f0;
        padding: 4px 8px;
        margin-top: 10px;
      }
      table td {
        padding-right: 10px;
        padding-top: 10px;
        font-size: 12px;
        vertical-align: top;
      }
    </style>
  </head>
  <body>

    <div id="header">
      <h1>Sources for <%= @project.name %></h1>
      <small><em>Generated on <%= Time.now.strftime("%A %B %d, %Y, at %H:%M:%S") %></em></small>
    </div>

    <h2>Summary</h2>
    <hr>
    <ul>
      <% @sources.each do |s| %>
        <li>
          <small>
            <%= s.title %>
          </small>
        </li>
      <% end %>
    </ul>

    <h2>Sources</h2>
    <% @sources.each do |s| %>
      <hr>
      <div class="source">
        <table style="width: 100%;">
          <tbody>
            <tr>
              <td>
                <%= content_tag :h3, s.title %>
              </td>
              <td style="width: 50px; text-align: right;">
                <big>
                  <%= s.year %>
                </big>
              </td>
            </tr>
          </tbody>
        </table>

        <table>
          <tbody>
            <tr>
              <td>
                <strong>
                  Authors
                </strong>
              </td>
              <td><%= s.authors %></td>
            </tr>
            <% if s.keywords.present? %>
            <tr>
              <td>
                <strong>
                  Keywords
                </strong>
              </td>
              <td>
                <%= s.keywords %>
              </td>
            </tr>
            <% end %>
            <% if s.abstract.present? %>
            <tr>
              <td>
                <strong>
                  Abstract
                </strong>
              </td>
              <td>
                <%= s.abstract %>
              </td>
            </tr>
            <% end %>
            <tr>
              <td>
                <strong>
                  Reference
                </strong>
              </td>
              <td>
                <%= s.reference %>
              </td>
            </tr>
          </tbody>
        </table>

        <% review = s.reviews.find_by(user: s.user) %>
        <% if review.present? %>
          <div class="description">
            <strong>Comment by <%= s.user.full_name %>:</strong><br />
            <p>
              <%= review.comment %>
            </p>
            <small><em><%= s.created_at.strftime("%Y-%m-%d %H:%M:%S") %></em></small>
          </div>
        <% end %>
      </div>
    <% end %>

  </body>
</html>
