<!doctype html>
<html id="export-pdf">
  <head>
    <meta charset='utf-8' />
    <style type="text/css">
      body { font-family: "Times New Roman", Times, serif; }
      h1 { font-size: 28px; }
      h3 { margin-bottom: 10px; }
      p { font-size: 13px; }
      small { font-size: 12px; }
      #header { margin-bottom: 42px; }
      .source { margin: 20px 0; }
      .source strong { font-size: 14px; }
      .source small { font-size: 12px; }
      .source p { font-size: 12px; }
      .source .description strong { font-size: 12px; }
      .source .description small { font-size: 10px; }
      .source .description blockquote { font-size: 14px; }
      .source .description {
        background-color: #f0f0f0;
        padding: 4px 8px;
      }
    </style>
  </head>
  <body>

    <div id="header">
      <h1>Sources for Literature Review</h1>
      <small><em>Generated on <%= Time.now.strftime("%A %B %d, %Y, at %H:%M:%S") %></em></small>

      <p>
        <strong>Supervisors</strong><br />
        <% @users.supervisors.each do |user| %>
          <%= user.full_name %> - <%= user.email %><br />
        <% end %>
      </p>

      <p>
        <strong>Contributors</strong><br />
        <% @users.contributors.each do |user| %>
          <%= user.full_name %> - <%= user.email %><br />
        <% end %>
      </p>
    </div>

    <% @sources.each do |s| %>
      <hr>
      <div class="source">
        <%= content_tag :h3, s.title %>
        <strong><%= s.authors %> (<%= s.year %>)</strong><br />
        <small><em>Keywords: <%= s.keywords %></em></small>
        <%= content_tag :p, s.abstract %>
        <div class="description">
          <strong>Contributed by <%= s.user.full_name %>:</strong><br />
          <small><em><%= s.created_at.strftime("%Y-%m-%d %H:%M:%S") %></em></small>
          <blockquote>
            "<%= s.description %>"
          </blockquote>
        </div>
      </div>
    <% end %>

  </body>
</html>
